<!--
 Title: nodebucket
 Author: Professor Krasso
 Date: 01/28/2023
 Modified By: Kailee Stephens
 Attributions: Code from Bellevue Web Dev Sessions
 https://github.com/buwebdev/web-450
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="address-card">
        <p>
          123 Main Avenue
        </p>
        <p>
          Omaha, Nebraska
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="phone-card">
        <p>
          Phone: 555-123-1234
        </p>
        <p>
          Toll Free: 1-800-123-1234
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />

<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many locations.
  </p>
</div>
