<!--
 Title: nodebucket
 Author: Professor Krasso
 Date: 01/28/2023
 Modified By: Kailee Stephens
 Attributions: Code from Bellevue Web Dev Sessions
 https://github.com/buwebdev/web-450
  www.pngtree.com
-->

<div>
  <h1
    style="
      text-align: center;
      margin-top: 60px;
      margin-bottom: 50px;
      font-weight: bold;
      font-family: Inter;
    "
  >

  </h1>
</div>

<!-- 2 column material design layout -->
<div fxLayout="row wrap" style="margin-bottom: 100px">
  <div fxFlex>
    <!-- left column -->
    <div fxLayout="column" style="text-align: center">
      <div>
        <img
          class="aboutUsImg"
          src="../../../assets/about-img.png"
          alt="aboutUsImg"
        />
      </div>
    </div>
  </div>
  <!-- right column -->
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="appName">nodeBucket</h1>
      <div class="aboutApp">
        <p>
            Nodebucket is an application for your most disorganized self. For all types of tasks, we have you covered!
            This tool can help you wherever you are to remember those todo's that you might otherwise have forgotten.
            Nodebucket is just the thing you need to stay organized and on task! Become who you have always wanted to be by
            getting everything you need to get done, done!
            <br /><br />
            This application was specifically designed to be simplistic and efficient with plenty of features to meet all of your needs.
            From remembering to pay a bill or pick something up at the grocery store, Nodebucket has the versatility to do both, and much, much more.
            Easily create a new task with the convenient task bar and add it directly to your Todo list. Manage your tasks with the drag and
            drop feature to change the task order and to move tasks to the Done column. Any tasks that might accidentally be moved to another column
            can always be moved back at any time. Any task that you do not want on your list anymore can be
            permanently deleted if you so choose. Do not worry, you will be asked again if you really want to delete any of your tasks.

            <br /><br />
            Any concerns that you have with your experience can be brought to our attention by viewing our Contact page. Please visit us in person or give us a call.  We would love to hear from
            you so that we can continue to improve our app to help you be successful.
        </p>

      </div>
    </div>
  </div>
</div>
